<div class="footnote-container">
    <div class="footnote-reference" id="footnote-ref-{{id}}">
        <a href="#footnote-{{id}}" class="footnote-link">[{{id}}]</a>
    </div>
    <div class="footnote-content" id="footnote-{{id}}">
        <div class="footnote-body">
            <span class="footnote-text">{{{content}}}</span>
            <a href="#footnote-ref-{{id}}" class="footnote-back-link" title="Go back to reference">↩</a>
        </div>
    </div>
</div>
