<div class="heading-block">
    <div class="heading-wrapper level-{{level}}">
        <h{{level}} class="heading">{{{title}}}</h{{level}}>
    </div>
    {{#if content}}
        <div class="content-wrapper">
            <p class="content">{{{content}}}</p>
        </div>
    {{/if}}
</div>
