<div class="heading-container level-{{level}}" style="margin-left: {{heading_indent_level level}}px;">
    <h1 class="heading-level-{{level}}">{{title}}</h1>
    <div class="content">
        {{#each subcontent}}
            <p>{{this}}</p>
        {{/each}}
    </div>
</div>

